@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  font-family: outfit, sans-serif;
  /* 15px for body text -- divide 15/16 = 0.9375 in rem unit */
  --fs-base-15px: 0.938rem;

  /* for margin and padding in em unit  */
  --spacer: 0.938em;

  
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(212, 45%, 89%);
  font-size: 0.938rem;

}

/*  content 'element' not smaller than width: 375px -- font size at 15px */
@media screen and (min-width: 375px) {
  .card-qr {
    font-size: calc(var(--fs-base-15px) * 0.5);
  }
}

/*  content not bigger than width: 1440px -- font size 1.2 times bigger */
@media screen and (min-width: 1440px) {
  .card-qr {
    font-size: calc(var(--fs-base-15px) * 0.7);
  }
}

.wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  /* border: 5px solid red; */
}

/* Vertical and horizontal alignment */
.wrapper-qr {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Nested CSS of class selector: content */
.card-qr {
  width: 25em;
  padding: 1em 1em 2.5em 1em;

  background-color: white;
  border-radius: 1em;

  & img {
    width: 100%;
    border-radius: 0.5em;
  }

  & p.title {
    font-size: 1.4em;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
  }

  & p {
    color: hsl(220, 15%, 55%);
    text-align: center;
    padding-inline: 1em;
  }

  * + * {
    margin-block-start: var(--spacer);
  }
}

div .attribution {
  margin-block-start: 1em;
  margin-inline: auto;
  
}
